* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

body {
	font-family: 'Roboto',arial,sans-serif;
	font-size: 13px;
  color: #545454;
	min-width: 1093px;
}

header {
  position: relative;
  height: 123px;
  background-color: #f8f8f8;
  border-bottom: 0.7px solid #e5e5e5;
}

.logo, .allincluded {
  float:left;
 }

.logo {
  margin-top: 24px;
  margin-left: 13px;
}
.allincluded {
  width: auto;
  height: auto;
  margin-top: 20px; 
  margin-left: 16px;
}

.searchbar {
  width: auto;
  height: auto;
  position: relative;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
}

.searchbar:hover {
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
}

input[type="text"] {
  height: 46px;
  width: 635px;
  padding-left: 15px;
  font-size: 16px;
  border: 1px solid #fff;
  outline: none;
  padding-right: 105px;
}

.micandglass {
  position: absolute;
  top: 11px;
  right: 20px;

}
.mic, .glass {
  float: left;
}
.mic {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: contain;
}

.mic:hover {
  cursor: pointer;
}

.glass {
  position: relative;
  width: 18px;
  height: 18px;
  background-image: url('images/mglass.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  top: 2px;
  opacity: 0.7;
}

.glass:hover {
  cursor: pointer;
}


.icons {
	height: 40px;
	float: right;
	margin-right: 19px;
	margin-top: 24px;
}

.icon {
	display: inline-block;
	margin-right: 9px;
	cursor: pointer;
}

#icon01 {
	background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-position: -135px -41px; 
    width: 25px;
    height: 25px;
    opacity: 0.6;
}
#icon01:hover {
    opacity: 0.9;
}

#icnscale {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #707070;
	transform: scale(0.5,0.5);
}

#icnscale:hover {
	background-color: #181818;
}

#icon02 {
	background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-position: -384px -32px;
	width: 35px;
	height: 35px;
}

#icon03 {
	background-image: url(https://lh3.googleusercontent.com/-m1BcGcVp3iU/AAAAAAAAAAI/AAAAAAAAAAA/AMp5VUrLyWBnWZn29dJCx4WVMkE1cigRbA/s32-c-mo/photo.jpg);
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

ul.navbar {
  position: absolute;
  bottom: 0;
  width: 635px;
  left: 149px;
}

ul.navbar li {
  display: inline-block;
  padding: 15px 15px;
}

ul.navbar li:first-child {
  padding-left: 17px;
  padding-bottom: 12px;
  cursor: pointer;
}

li#focus {
  font-weight: bold;
  border-bottom: 3px solid #4885ed;
  color: #4885ed
}

ul.navbar a:link, #report a:link {
  text-decoration: none;
  font-size: 13px;
  color: #707070;
}

ul.navbar a:visited, #report a:visited {
  color: #707070;
}

ul.navbar a:hover, #report a:hover {
  color: #101010;
}
ul.navbar a:active {
  color: #4885ed;
}

li.right {
  float: right;
}
li #hoverbtn {
  display: inline-block;
  border: 0.7px solid rgba(0,0,0,0);
  border-radius: 2px;
  padding: 6px 15px;
  vertical-align: middle;
}

li #hoverbtn:hover {
  border: 0.7px solid #b0b0b0;
  border-radius: 2px;
  background-color: #f0f0f0;
  color: #707070;
} 

li #hoverbtn:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  color: #101010;
}

li#hoverpad {
  height: 45px;
  padding: 8.3px 0;
}

#results {
  position: relative;
  margin-left: 149px;
  width: 635px;
}

#brief {
  margin-top: 8px;
  border: 0.8px solid #e8e8e8;
  line-height: 1.2;
}

div#brief p#pfirst {
  font-size: 16px;
  color: #181818;
  padding: 16px;
  margin-right: 191px; 
  margin-bottom: 5px;
}
div#brief h2, div#brief p.link {
  padding-left: 16px;
  line-height: 1.2;
}

div#brief p.link {
  padding-bottom: 16px;
}

.link {
  color: #006621;
  font-size: 14px;
  line-height: 16px;
}


.static {
  float: right;
  position: relative;
}
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}


div#brief p#caption {
    color: #fff;
    font-size: 11px;
    background-color: #303030;
    width: 100%;
    padding: 2px 4px 4px 5px;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.clip {
  position: relative;
  width: 189px;
  height: 160px;
  overflow: hidden;
}

div.clip img {
    position: absolute;
    left: 0;
    left: calc(50%);
    top: 0;
    top: calc(50%);
    transform: translate(-50%,-50%);
    min-width: 100%;
    height: 160px;
}

h2 {
  color: #1a0dab;
  font-weight: 400;
  font-size: 18px;
}

p#top {
  padding: 14px;
  color: #808080;
}

.foot {
  float: right;
}
.foot p {
  font-size: 12px;
  color: #808080;
  display: inline-block;
  padding-right: 20px; 
  padding-top: 5px;
}

.icsmall {
  vertical-align: middle;
  opacity: 0.5;
  margin-right: 10px;
 }

table#pplask {
  margin-top: 40px;
  width: 100%;
}

table#pplask, #pplask th, #pplask td {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

#pplask th {
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  color: #808080;
  padding: 16px 15px 10px 15;
}

#pplask td {
  cursor: pointer;
  color: #181818;
  font-size: 18px;
  padding: 5px 15px;
}

#pplask td img {
  float: right;
  padding: 5px 10px 5px 10px;
  opacity: 0.4;
  margin: auto 0;
}

p#feedback {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 11px;
  font-style: italic;
  color: #777;
  float: right;
  padding-top: 5px;
  padding-right: 15px;
  margin-bottom: 26px;
}

article {
  margin-bottom: 26px;
  width: 600px;
}

h2 {
  line-height: 1.2;
}

article p {
  line-height: 1.4;
}

#images {
  margin-bottom: 26px;
}
div#images img {
  width: 120px;
  height: 90;
}

#images h2 {
  margin-bottom: 14px;
}
#images p {
  padding-top: 5px;
  float: left;
}

#images p img {
  width: 15px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}

p#report {
  float:right;
  padding-top: 5px;
  padding-right: 40px;
  color: #777;
}

.clearfix {
  clear:both;
}

div#ytb {
  width: 116px;
  height: 64px;
  overflow: hidden;
  float:left;
  margin: 5px 10px 0 0;
  display: block;
  position: relative;
}
#ytb img {
	max-width: 100%;
    max-height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

span#dur {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  padding: 4px 2px;
  background-color: rgba(0,0,0,0.7)
}

span {
  color: #808080;
}

.more {
  margin-top: 40px;
  margin-bottom: 28px;
}

h3 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: normal;
  color: #222;
  line-height: 1.8;
  column-span: all;
}

.more {
  width: 450px;
  column-count: 2;
  column-width: 180px;
  column-gap: 30px;
}

p.column {
  font-size: 14px;
  font-weight: normal;
  color: #1a0dab;
  padding: 5px 0;
}

.pages {
  margin:30px auto 30px;
  border: none;
 }

.pages tbody {
  text-align: center;
  font-size: 12px;
  border: none;
  color: #4285f4;
}

.pages tr {
  border-collapse: collapse;
}

.pages #row01 td {
  height: 40px;
  border-collapse: collapse;
  cursor: pointer;
}

.b {
  font-weight: bold;
  width: 1000px;
  height: 55px;
}

#s0 {
	background:url(https://www.google.com/images/nav_logo242.png) no-repeat;
	background-position:-24px 0;
	width:28px;
}

#s1 {
	background:url(https://www.google.com/images/nav_logo242.png) no-repeat;
	background-position:-53px 0;
	width: 20px;
}

.c1 {
	background:url(https://www.google.com/images/nav_logo242.png) no-repeat;
	background-position:-74px 0;
	width: 20px;
}

#s3 {
	background:url(https://www.google.com/images/nav_logo242.png) no-repeat;
	background-position:-96px 0;
	width:71px;
}

#d0 {
	display:block;
	margin-left:53px;
	color: inherit;
}

footer {
	padding-top: 18px;
	border-top: 1px solid #e4e4e4;
	width: 100%;
	background-color: #f2f2f2;
}

footer p, footer > span {
	margin-left: 150px;
	color: #777;
}

footer > span a {
  padding-left: 27px;
}

footer a:first-child {
  padding-left: 0;
}

footer p {
	line-height: 15px;
	padding: 5px 0;
}

span#dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #9e9e9e;
  border-radius: 100%;
  margin-right: 4px;
}

footer > span {
	line-height:40px;
}

span#uzb {
	color: #aaa;
}

footer a:hover {
	color: #333;
	cursor: pointer;
}

#feedback a:hover, .foot a:hover {
	text-decoration: underline;
	cursor: pointer;
}

p.url a {
	color: #1a0dab;
	cursor: pointer;
}

p.url a:hover, .pages td a:hover {
	text-decoration: underline;
	cursor: pointer;
}

h2 a:hover, .column a:hover {
	text-decoration: underline;
	cursor: pointer;
}

#ytb a:hover {
	text-decoration: none;
	cursor: pointer;
}
